<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
    <title>Registros</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" > 
            <a class="navbar-brand" href="#">
                    <img src="http://jeltex.co/inventar27/vistas/images/alquileresla27.png" width="200"  class="d-inline-block align-center" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="http://jeltex.co/inventar27/index.php">Inicio </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('show_products')}}">Registrar productos</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{url_for('show_registries')}}">Mostrar registros<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <a class="btn btn-outline-danger my-2 my-sm-0" href="{{url_for('logout')}}">Cerrar sesión</a>
                </form>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="row">
            <h2 class="h2">Registros</h2>
        </div>
        <div class="row">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages%}
                    {% if message == 'Producto eliminado'%}
                        {% set alert = "danger" %}          
                    {% else %}
                        {% set alert = "success" %}
                        <div class="alert alert-{{alert}}" role="alert">
                    {% endif %}
                    {{ message }}
                    {% endfor %}
                        </div>
                {% endif %}
                {% endwith %}
            <script language="JavaScript">
                $(document).ready(function() {
                    $('#tbProducts').DataTable( {
                        "language": {
                            "decimal":        "",
                            "emptyTable":     "Tabla vacía",
                            "info":           "Mostrando _START_ a _END_ de _TOTAL_ Registros",
                            "infoEmpty":      "Mostrando 0 a 0 de 0 Registros",
                            "infoFiltered":   "(filtered de _MAX_ total Registros)",
                            "infoPostFix":    "",
                            "thousands":      ",",
                            "lengthMenu":     "Mostrando _MENU_ Registros",
                            "loadingRecords": "Cargando...",
                            "processing":     "Procesando...",
                            "search":         "Buscar:",
                            "zeroRecords":    "No se encontró ningun registro",
                            "paginate": {
                                "first":      "Primero",
                                "last":       "Último",
                                "next":       "Siguiente",
                                "previous":   "Anterior"
                            },
                            "aria": {
                                "sortAscending":  ": Activar para ordenar columna ascendentemente",
                                "sortDescending": ": Activar para ordenar columna descendentemente"
                            }
                        }
                    } );
                } );
            </script>
            <table id="tbProducts">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Cant. Registrada</th>
                        <th>Responsable</th>
                        <th>Descripción</th>
                        <th>Estado</th>
                        <th>Fecha</th>
                </tr>
                </thead>
                {%for registry in registries %}
                    <tr>
                        <td>{{registry.product.code}}</td>
                        <td>{{registry.product.name}}</td>
                        <td>{{registry.stock}}</td>
                        <td>{{registry.responsible}}</td>
                        <td>{{registry.description}}</td>
                        <td>{% if registry.state %}
                                Entrada
                            {%else%}
                                Salida
                            {% endif %}
                        </td>
                        <td>{{registry.date}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="row">
            <a class="link-primary" href="{{url_for('show_products')}}">Regresar</a>
        </div>
    </div>
</body>
</html>